{
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "insertPragma": true,
  "printWidth": 80,
  "requirePragma": true,
  "trailingComma": "es5",
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true
}
